USE [master]
GO
/****** Object:  Database [CliningDB]    Script Date: 19.03.2026 21:00:14 ******/
CREATE DATABASE [CliningDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CliningDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CliningDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CliningDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CliningDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CliningDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CliningDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19.03.2026 21:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 19.03.2026 21:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[PickupAddress] [nvarchar](200) NOT NULL,
	[PickupTime] [datetime] NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 19.03.2026 21:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[ReviewDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 19.03.2026 21:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.03.2026 21:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Уборка')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Мойка')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Химчистка')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [ServiceId], [OrderDate], [PickupAddress], [PickupTime], [PaymentMethod], [Status]) VALUES (1, 2, 2, CAST(N'2026-03-11T21:44:34.933' AS DateTime), N'г. Москва, ул. Ленина, д.10, кв. 5', CAST(N'2026-03-12T14:00:00.000' AS DateTime), N'card', N'cancelled')
INSERT [dbo].[Orders] ([Id], [UserId], [ServiceId], [OrderDate], [PickupAddress], [PickupTime], [PaymentMethod], [Status]) VALUES (2, 3, 7, CAST(N'2026-03-11T21:44:34.933' AS DateTime), N'г. Москва, ул. Мира, д.15, подъезд 2', CAST(N'2026-03-13T11:30:00.000' AS DateTime), N'cash', N'paid')
INSERT [dbo].[Orders] ([Id], [UserId], [ServiceId], [OrderDate], [PickupAddress], [PickupTime], [PaymentMethod], [Status]) VALUES (3, 4, 9, CAST(N'2026-03-11T21:44:34.933' AS DateTime), N'г. Санкт-Петербург, пр. Победы, д.20, кв. 45', CAST(N'2026-03-14T10:00:00.000' AS DateTime), N'card', N'paid')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [OrderId], [Rating], [Comment], [ReviewDate]) VALUES (1, 4, 5, N'Отличная работа! Всё чисто и аккуратно.', CAST(N'2026-03-11T21:44:34.940' AS DateTime))
INSERT [dbo].[Reviews] ([Id], [OrderId], [Rating], [Comment], [ReviewDate]) VALUES (2, 5, 4, N'Хорошо, но немного опоздали.', CAST(N'2026-03-11T21:44:34.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id], [CategoryId], [Name], [Price], [Description]) VALUES (1, 1, N'Уборка квартиры (студия)', CAST(2000.00 AS Decimal(18, 2)), N'Уборка студии до 30 кв.м.')
INSERT [dbo].[Services] ([Id], [CategoryId], [Name], [Price], [Description]) VALUES (2, 1, N'Уборка квартиры (2-комнатная)', CAST(3000.00 AS Decimal(18, 2)), N'Генеральная уборка 2-комнатной квартиры')
INSERT [dbo].[Services] ([Id], [CategoryId], [Name], [Price], [Description]) VALUES (3, 1, N'Уборка квартиры (3-комнатная)', CAST(4000.00 AS Decimal(18, 2)), N'Генеральная уборка 3-комнатной квартиры')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role]) VALUES (1, N'admin', N'admin123', N'Администратор', N'admin')
INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role]) VALUES (2, N'ivanov', N'123', N'Иванов Иван Иванович', N'user')
INSERT [dbo].[Users] ([Id], [Username], [Password], [FullName], [Role]) VALUES (3, N'petrova', N'pass123', N'Петрова Мария Сергеевна', N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4BD57687C]    Script Date: 19.03.2026 21:00:15 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('paid') FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [FullName]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [Role]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
USE [master]
GO
